body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Изменим на column, чтобы элементы шли друг за другом */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0; /* Уберем отступы, если они есть по умолчанию */
}

html, body {
    overflow: hidden;
  }


.game-info-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Займем всю ширину */
    padding: 10px; /* Добавим немного внутреннего отступа */
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Информационные поля займут всю ширину */
    max-width: 600px; /* Можно задать максимальную ширину для контейнера */
    margin-bottom: 20px; /* Отступ от игрового поля ниже */
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; /* Добавим отступ справа для каждого элемента, кроме последнего */
}

.info-item:last-child {
    margin-right: 0; /* У последнего элемента отступ справа не нужен */
}

.info-item label {
    margin-bottom: 5px;
}

.info-item input {
    text-align: center;
    /* Другие стили для input, если нужно */
}

.field {
    display: flex;
    justify-content: center; /* Центрируем игровое поле */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px; /* Установим зазор между кнопками */
}

button {
    padding: 3px; /* Изменим на ваше усмотрение */
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    border: 0px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s; /* Уменьшим время анимации для лучшей отзывчивости */
}

button:hover {
    background-color: #e6e6e6; /* Более светлый цвет для эффекта при наведении */
}

button[checked="1"] {
    background-color: #a09f9f;
    color: white;
}

button[data-value="💣"] {
    background-color: #dc3545;
    color: white;
}
